@import '../../styles/variables.scss';

.field {
  margin: 1rem;
  width: 100%;
}

.feedbackGrouping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.Input {
  border: 1px solid $lightGray;
  border-radius: 3px;
  font-size: 1.125rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  min-width: 200px;
  width: 100%;
}

.Input:focus {
  border-color: $primaryColor;
  box-shadow: 0 0 1px 1px $primaryColor;
  outline: none;
}

.Input:disabled {
  opacity: 0.6;
}

.Input:disabled:hover {
  cursor: not-allowed;
}

.errorMessage {
  width: 100%;
}

.valid {
  border-color: $successDeep;
  box-shadow: 0 0 1px 1px $successDeep;
  outline: none;
}

.invalid {
  border-color: $errorDeep;
  box-shadow: 0 0 1px 1px $errorDeep;
  outline: none;
}
