@import '../../styles/variables.scss';

.Button {
  display: inline-block;
  border: 3px solid transparent;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.25;
  min-width: 175px;
  padding: 0.75rem;
  white-space: nowrap;
  transition: 0.2s linear background-color, 0.2s linear border-color,
    0.2s linear color;
}

.primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: $white;
  outline-color: $primaryColor;
}

.primary:hover:enabled,
.primary:focus:enabled {
  background-color: rgba(0, 0, 0, 0);
  color: $white;
}

.secondary {
  background-color: $secondaryColor;
  border-color: $secondaryColor;
  color: $white;
  outline-color: $secondaryColor;
}

.secondary:hover:enabled,
.secondary:focus:enabled {
  background-color: rgba(0, 0, 0, 0);
  color: $white;
}

.isFullWidth {
  width: 100%;
}

.disabled {
  border: 3px solid transparent;
  opacity: 0.6;
}

.disabled:hover {
  border: 3px solid transparent;
  cursor: not-allowed;
}
