@import '../../styles/variables.scss';

.Button {
  display: inline-block;
  border: 2px solid currentColor;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.25;
  min-width: 175px;
  padding: 0.9rem 0.75rem 0.75rem 0.75rem;
  white-space: nowrap;
  transition: 0.2s linear background-color, 0.2s linear color;

  &:focus {
    border-color: darken($color: $primaryColor, $amount: 5);
  }
}

.primary {
  background-color: $primaryColor;
  color: $white;

  &:hover:enabled {
    background-color: darken($color: $primaryColor, $amount: 5);
    color: $white;
  }
}

.secondary {
  background-color: $secondaryColor;
  color: $white;

  &:hover:enabled {
    background-color: darken($color: $secondaryColor, $amount: 5);
    color: $white;
  }
}

.isFullWidth {
  width: 100%;
}

.disabled {
  border: 2px solid transparent;
  opacity: 0.6;

  &:hover {
    border: 2px solid transparent;
    cursor: not-allowed;
  }
}
