@import '../../styles/variables.scss';

.Container {
  background-color: $primaryColor;
  color: white;
  fill: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
  width: 85%;
  max-width: 1400px;
}

.fullViewportHeight {
  height: 100vh;
}
