.heroBuffer {
  padding-top: 2rem;
}

.sectionText {
  padding: 1rem;
}

.sectionImage {
  max-width: 400px;
  padding: 1rem;
  height: auto;

  @media screen and (max-width: 600px) {
    max-width: 350px;
  }
}

.mobileCenteredText {
  @media screen and (max-width: 1165px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.bigImage {
  max-width: 550px;

  @media screen and (min-width: 1165px) {
    max-width: 750px;
  }
}

.bigImage > img {
  width: 100%;
}
