.logo {
  height: 175px;
  width: 175px;
  margin: 0;
  padding-bottom: 2rem;
}

.ctaParagraph {
  font-size: 1.25rem;
  font-weight: bold;
  padding-bottom: 1.5rem;
  text-align: center;
  text-shadow: 1px 1px 10px black;
}

.heroBuffer {
  padding-top: 2rem;
}

.sectionText {
  padding: 1rem;
}

.sectionImage {
  max-width: 400px;
  padding: 1rem;
  height: auto;

  @media screen and (max-width: 600px) {
    max-width: 350px;
  }
}

.mobileCenteredText {
  @media screen and (max-width: 1165px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.bigImage {
  max-width: 550px;

  @media screen and (min-width: 1165px) {
    max-width: 750px;
  }
}

.bigImage > img {
  width: 100%;
}
