$primaryColor: #674172;
$white: #f0e3ea;
$gray: #312a2f;
$lightGray: rgba(82, 82, 82, 0.55);
$black: #1f1f1f;
$success: hsla(134, 41%, 88%, 0.6);
$successDeep: hsl(132, 60%, 25%);
$warning: hsla(46, 100%, 90%, 0.6);
$warningDeep: hsl(39, 76%, 44%);
$error: hsla(355, 70%, 91%, 0.6);
$errorDeep: hsl(355, 63%, 36%);
